[project]
name = "advent-of-code-2025"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "ruff>=0.14.8",
]

[dependency-groups]
dev = [
    "pyright>=1.1.407",
]
